* {
  font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
  }
  
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #8283af;
}

.p5Canvas {
    position: relative;
    left: 1%;
    padding: 5;
    border: solid;
    border-width: 2px;
    margin-top: 20px;
  
    background-color: white;
    border-color: black;
  }

.scoreDisplay {
  font-size: 200%;
}

.scoreSubsection {
  border: solid;
  border-width: 2px;
  border-color: black;
  margin-top: 20px;
  background-color: white;
  padding: 10px 10px;
  height: 100;
  width: 300;
  text-align: center;
  font-size: 150%;
}

.parameterSubsection {
  border: solid;
  border-width: 2px;
  border-color: black;
  margin-top: 20px;
  background-color: white;
  padding: 10px 10px;
  height: 300;
  width: 300;
  text-align: center;
  font-size: 150%;
}
